body{
    font-family: 'PT Serif', serif;
}
.h1{
    font-size: 50px;
}
.h2{
    font-size: 30px;
}
.h3{
    font-size: 60px;
}

.hello{
    width: 50%;
    padding-left: 5%;
    padding-right: 10%;
}
.link{
    text-decoration: none;
    background-color: orange;
    border-radius: 5px;
    padding: 10px 40px;
    color:white;
    font-weight: 700;
    background-image: linear-gradient( orange, tomato);
}
